# Ambiente Python
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Arquivos de log
*.log

# Configs locais
.env
.env.*

# Build / distribuição
build/
dist/
*.egg-info/

# Banco local sqlite (se existir)
db.sqlite3

# VS Code
.vscode/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Staticfiles coletados
/staticfiles/
